<h1 class="page-title">Articles</h1>

<div class="articles">
  <% @articles.each do |article| %>
    <a href="<%= article_path(article) %>" class="article">
      <%= image_tag article.image_url, class: "article__image" %>
      <h2 class="article__title"><%= article.title %></h2>
    </a>
  <% end %>
</div>